<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title lobster">Upload a Post</h4>
</div>
<div class="modal-body">
    <input id="selected_photo" type="file" name="file" accept="image/*" title="Select a Local Photograph">
    <br><label for="photo_preview">Photo Preview</label>
    <span id="preview_placeholder">No viewable photo</span><img id="photo_preview"></img>
    <br><br><label for="description">Photo Description</label>
	<textarea type="text" rows="3" name="description" class="form-control" id="upload_description" placeholder="Enter Description Here"></textarea><br>
</div>
<div class="modal-footer">
    <button id="upload_button" type="button" class="btn btn-custom smth-t" data-dismiss="modal">Upload the photo</button>
</div>