<div class="footer1">
<div class="big-focus hided smth-t">
    <div class="banner lobster"> Upload a photo</div>
    <div class="small-focus hided smth-t">
        <button id="camera_button" class="glyphicon glyphicon-camera smth-t" data-toggle="modal" data-target="#popup"></button>
    </div>
</div>
</div>


<div class="footer2">
<div class="big-focus hided smth-t">
    <div class="banner lobster"> Upload a Video</div>
    <div class="small-focus hided smth-t">
        <button id="video_button" class="glyphicon glyphicon-facetime-video smth-t"></button>
    </div>
</div>
</div>

