<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title lobster">Upload a Post(Video)</h4>
</div>
<div class="modal-body">
    <input id="selected_video" type="file" name="file" accept="video/*" title="Select a Local Video">
    <br><br><label for="description">Video Description</label>
	<textarea type="text" rows="3" name="description" class="form-control" id="upload_description" placeholder="Enter Description Here"></textarea><br>
</div>
<div class="modal-footer">
    <button id="upload_button" type="button" class="btn btn-custom smth-t" data-dismiss="modal">Upload the photo</button>
</div>